<section class="unit_photo">
    
    <input type="file" accept="image/*" />

    <br><br><br>

    <input type="file" accept="image/*;capture=camera">

    <br><br><br>

    <input type="file" accept="video/*;capture=camcorder">

    <br><br><br>

    <input type="file" accept="audio/*;capture=microphone">
</section>