Thumbs.db
.DS_Store

#ios xcode build
platforms/ios/Club.xcodeproj/project.xcworkspace/
platforms/ios/Club.xcodeproj/xcuserdata/
platforms/ios/CordovaLib/CordovaLib.xcodeproj/xcuserdata/

/www/
platforms/ios/www/
platforms/ios/www/
!platforms/ios/www/cordova.js
!platforms/ios/www/cordova_plugins.js