.mod_footer{
    background: #fff;
    width: 100%;
    height: 48px;
    position: fixed;
    left: 0;
    bottom: 0;
    display: -webkit-box;
    li{
        line-height: 48px;
        text-align: center;
        color: #666;
        width: 0;
        -webkit-box-flex: 1;
    }
}