html,body,div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, em, button { 
    margin:0; 
    padding:0; 
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary {
    display:block;
}

html {
    height: 100%;
}

img { 
    border:0; 
    margin:0; 
    padding:0; 
    vertical-align: top;
}

input,textarea,select { 
    border:none;
    font-family:inherit;
    font-size:inherit;
    font-weight:inherit;
    resize:none;
    outline:0;
    box-shadow: none;
    -webkit-appearance: none;
}

table { 
    border-collapse:collapse; 
}

a { 
    color:#333; 
    text-decoration:none; 
}

h1, h2, h3, h4, h5,h6 { 
    font-size:100%; 
    font-weight:normal;
}

ul,li { 
    list-style: none; 
}

dfn,em,i { 
    font-style:normal; 
}

body{
    height: 100%;
    font-size: 14px; 
    line-height: 1.5;
    background: #f5f5f5;
    /*-webkit-user-select:none;*/
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-text-size-adjust: none;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
}

a{ 
    text-decoration: none; 
    outline: 0; 
    color: #333; 
}
a:visited{ 
    text-decoration: none;
}

@mixin overflow{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@mixin scrollfix{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.scrollfix{
    @include scrollfix;
}

.js_view{
    width: 100%;
    line-height: 1;
}

.mod_mask{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 200;

    background: rgba(0,0,0,.4);
    width: 100%;
    height: 100%;
    display: none;
}

.mod_loading{
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 201;

    background: url(images/loading.png) no-repeat 0 0;
    background-size: 100% auto;
    width: 30px;
    height: 30px;
    margin-left: -15px;
    margin-top: -15px;
    display: none;

    -webkit-animation: loadimg 1s linear infinite;
    -webkit-transform-origin: 50% 50%;
}
@-webkit-keyframes loadimg {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}