<section class="mod_add">1
    <ul class="this_a">
        <li>
            <label>姓名</label>
            <input type="text" value="" />
        </li>
        <li>
            <label>出生日</label>
            <input type="date" value="" />
        </li>
    </ul>

    <ul class="this_b">
        <li>
            <label>就读学校</label>
            <input type="text" value="" />
        </li>
        <li>
            <label>正在读</label>
            <select>
                <option>请选择</option>
            </select>
        </li>
        <li>
            <label>学校所在区县</label>
            <select>
                <option>请选择</option>
            </select>
        </li>
        <li>
            <label>学校名称</label>
            <select>
                <option>请选择</option>
            </select>
        </li>
    </ul>

    <ul class="this_c">
        <li>
            <label>居住小区</label>
            <input type="text" value="" />
        </li>
        <li>
            <label>小区所在区县</label>
            <select>
                <option>请选择</option>
            </select>
        </li>
        <li>
            <label>小区所在区域</label>
            <select>
                <option>请选择</option>
            </select>
        </li>
        <li>
            <label>小区名称</label>
            <select>
                <option>请选择</option>
            </select>
        </li>
    </ul>

    <h2>选择可上课时间</h2>
    <dl class="this_time">
        <dd>
            <div>
                <span class="icon_check select"></span>
                周一  17:00-18:00
            </div>
            <div>
                <span class="icon_check select"></span>
                可提供场地
            </div>
        </dd>
        <dd>
            <div>
                <span class="icon_check"></span>
                周三  17:00-18:00
            </div>
            <div>
                <span class="icon_check"></span>
                可提供场地
            </div>
        </dd>
    </dl>

    <h2>请填写其他补充信息</h2>
    <textarea placeholder="请填写需补充的内容^_^"></textarea>

    <div class="js_submit this_btn_red">保存</div>
</section>