<section class="js_scrollfix unit_home">
    <ul>
        <li>精品</li>
        <li>关注</li>
    </ul>
    
    <div class="slide">
        这里是测试内容<br>
        这里是测试内容<br>
        这里是测试内容<br>
        这里是测试内容<br>
        这里是测试内容<br>
        这里是测试内容<br>
        这里是测试内容<br>
        这里是测试内容<br>
        这里是测试内容<br>
        这里是测试内容<br>
        这里是测试内容<br>
        这里是测试内容<br>
        这里是测试内容<br>
        这里是测试内容<br>
        这里是测试内容<br>
        这里是测试内容<br>
        这里是测试内容<br>
        这里是测试内容<br>
        这里是测试内容<br>
        这里是测试内容<br>
        这里是测试内容<br>
        这里是测试内容<br>
        这里是测试内容<br>
        这里是测试内容<br>
        这里是测试内容<br>
        这里是测试内容<br>
        这里是测试内容<br>
        这里是测试内容1<br>
    </div>
</section>